<form autocomplete="off">
	<div class="header-row">
		<img
			class="avatar"
			src="{{actor.img}}"
			data-edit="img"
			title="{{actor.name}}"
		/>
		<input
			type="text"
			name="name"
			value="{{actor.name}}"
			class="actor-name"
		>
	</div>
	{{#if editable}}
		<prose-mirror
			class="actor-text"
			name="system.content"
			value="{{system.content}}"
			collaborate="true"
			data-document-uuid="{{actor.uuid}}"
		>
			{{{enriched.system.content}}}
		</prose-mirror>
	{{else}}
		{{{enriched.system.content}}}
	{{/if}}
</form>
